body {
    background-color: #074F4E;
    color: #074F4E;
    font-family: 'ABeeZee', sans-serif;
}

a {
    color: #FFF;
}

img {
    margin-top: 5px;
    margin-left: 10px;
    vertical-align: top;
}

.btn-block {
    margin: 0 auto;
    width: 30%;
}

.btn-primary, #submit {
    background-color: #A2AD59;
}

.btn-primary:hover, #submit:hover {
    background-color: #A2AD59;
}

.container {
    background-color: #95B0AE;
    text-align: center;
}

.fa-home, .fa-angle-left {
    float: left;
    font-size: 24px;
    margin-top: 10px;
    margin-left: 5px;
}

.fa-user-friends {
    color: #FFF;
    font-size: 48px;
    margin-left: 10px;
}

.form-control {
    margin: 0 auto;
    width: 40%;
}

.jumbotron {
    background-color: #95B0AE;
    margin: 0 15% 2rem 15%;
    text-align: center;
}

.header {
    color: #FFF;
    display: inline-block;
    font-family: 'Lobster', cursive;
    margin-left: 20px;
}

.h4, h4 {
    font-size: 14px;
}

.btn {
    margin-top: 15px;
}

.footer {
    margin: 5px 17% 5px 17%;
}

.modal-content {
    width: 50%;
    text-align: center;
    margin: 0 auto;
    height: 500px;
}

.modal-footer {
    width: 50%;
    margin: 0 auto;
}

#credit {
    color: #fff;
    font-size: 8px;
}

#logo {
    display: inline-block;
    height: 54px;
    width: 54px;
}

#questionaire {
    color: #FFF;
    font-size: 48px;
    font-family: 'Lobster', cursive;
    text-align: center;
}